@media (max-width: 699px) {
  html, body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
  }
  
  .container {
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-rows: 70px auto 50px;
  }

  /******** HEADER ********/

  .header {
    background-color: #0070f3;
    color: #fff;
  }
  
  .heading {
    margin: 10px 10px 5px;
  }

  .typing-indicator {
    margin: 5px 12px;
    font-size: 0.95rem;
    color: #ddd;
  }

  /******** CHATBOX ********/

  .chatbox {
    overflow-y: scroll;
    padding: 10px 0;
  }

  .messageList {
    margin: 5px;
    display: flex;
    flex-direction: column;
  }

  .text {
    border: 0;
    border-radius: 5px;
    margin: -3px 5px 5px;
    padding: 5px;
    display: inline-block;
    max-width: 70%;
  }
  
  .sent-text {
    background-color: #eee;
    color: #333;
    border: 1px solid #bbb;
    margin-left: auto;
  }

  .received-text {
    background-color: #1983ff;
    color: #fff;
    margin-right: auto;
  }

  .author {
    font-size: 0.85rem;
    color: #777;
    margin: 5px;
  }

  /******** INPUT ********/

  .input {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .form {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
  }

  .text-input {
    flex: 3.5;
    margin: 5px;
    padding: 3px 6px;
    font-size: 1.05rem;
    border: 0;
  }

  .text-input:focus {
    outline: none;
  }

  .send-btn {
    flex: 0.5;
    margin: 5px;
    background-color: #0070f3;
    color: #fff;
    border: 0;
    border-radius: 5px;
    font-size: 1.05rem;
  }

  .send-btn:focus {
    outline: none;
  }
}